# Label Encoding

Label Encoding refers to converting the labels into numeric form so as to convert it into the machine-readable form. Machine learning algorithms can then decide in a better way on how those labels must be operated.

In [1]:
import datetime

In [2]:
today_date = datetime.datetime.today()
today_date

datetime.datetime(2021, 8, 16, 11, 9, 33, 258468)

In [12]:
today_date - datetime.timedelta(3)  # subtract 3 days from today's date

datetime.datetime(2021, 8, 13, 11, 9, 33, 258468)

In [4]:
#list compression 
#taking 12 days
days = [today_date - datetime.timedelta(x) for x in range(12,0,-1)]
days

[datetime.datetime(2021, 8, 4, 11, 9, 33, 258468),
 datetime.datetime(2021, 8, 5, 11, 9, 33, 258468),
 datetime.datetime(2021, 8, 6, 11, 9, 33, 258468),
 datetime.datetime(2021, 8, 7, 11, 9, 33, 258468),
 datetime.datetime(2021, 8, 8, 11, 9, 33, 258468),
 datetime.datetime(2021, 8, 9, 11, 9, 33, 258468),
 datetime.datetime(2021, 8, 10, 11, 9, 33, 258468),
 datetime.datetime(2021, 8, 11, 11, 9, 33, 258468),
 datetime.datetime(2021, 8, 12, 11, 9, 33, 258468),
 datetime.datetime(2021, 8, 13, 11, 9, 33, 258468),
 datetime.datetime(2021, 8, 14, 11, 9, 33, 258468),
 datetime.datetime(2021, 8, 15, 11, 9, 33, 258468)]

In [5]:
import pandas as pd

In [6]:
data = pd.DataFrame(days)     #making datafrme of days
data

                            0
0  2021-08-04 11:09:33.258468
1  2021-08-05 11:09:33.258468
2  2021-08-06 11:09:33.258468
3  2021-08-07 11:09:33.258468
4  2021-08-08 11:09:33.258468
5  2021-08-09 11:09:33.258468
6  2021-08-10 11:09:33.258468
7  2021-08-11 11:09:33.258468
8  2021-08-12 11:09:33.258468
9  2021-08-13 11:09:33.258468
10 2021-08-14 11:09:33.258468
11 2021-08-15 11:09:33.258468

In [7]:
data.columns = ["Day"]   # changing column name 
data

                          Day
0  2021-08-04 11:09:33.258468
1  2021-08-05 11:09:33.258468
2  2021-08-06 11:09:33.258468
3  2021-08-07 11:09:33.258468
4  2021-08-08 11:09:33.258468
5  2021-08-09 11:09:33.258468
6  2021-08-10 11:09:33.258468
7  2021-08-11 11:09:33.258468
8  2021-08-12 11:09:33.258468
9  2021-08-13 11:09:33.258468
10 2021-08-14 11:09:33.258468
11 2021-08-15 11:09:33.258468

In [8]:
# extract the week day name
data['day_of_week'] = data['Day'].dt.strftime("%A")
data.head()

                         Day day_of_week
0 2021-08-04 11:09:33.258468   Wednesday
1 2021-08-05 11:09:33.258468    Thursday
2 2021-08-06 11:09:33.258468      Friday
3 2021-08-07 11:09:33.258468    Saturday
4 2021-08-08 11:09:33.258468      Sunday

In [9]:
dict={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}
dict

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [10]:
#mapping
data['weekday_encoded'] = data['day_of_week'].map(dict)

In [11]:
data

                          Day day_of_week  weekday_encoded
0  2021-08-04 11:09:33.258468   Wednesday                3
1  2021-08-05 11:09:33.258468    Thursday                4
2  2021-08-06 11:09:33.258468      Friday                5
3  2021-08-07 11:09:33.258468    Saturday                6
4  2021-08-08 11:09:33.258468      Sunday                7
5  2021-08-09 11:09:33.258468      Monday                1
6  2021-08-10 11:09:33.258468     Tuesday                2
7  2021-08-11 11:09:33.258468   Wednesday                3
8  2021-08-12 11:09:33.258468    Thursday                4
9  2021-08-13 11:09:33.258468      Friday                5
10 2021-08-14 11:09:33.258468    Saturday                6
11 2021-08-15 11:09:33.258468      Sunday                7